.color-box {
    width: 100px;
    height: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.indicator-dot {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    display: inline-block;
    margin-right: 4px;
}

.bedrock-tag {
    display: inline-block;
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
    margin: 0 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.bedrock-underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1040;
}

/**
 * Used in CBox component for horizontal
 * and vertical centering.
 */

.flex-center {
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

/**
 * Start loading dots
 * Borrowed from https://tobiasahlin.com/spinkit/
 */

.loading-dots {
    width: 70px;
    text-align: center;
}

.loading-dots>div {
    width: 10px;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-dots .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading-dots .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/**
 * End loading dots
 */

/**
  * start of Sign-in page
  */

.bedrock-signin-page {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 330px;
    text-align: center;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.bedrock-signin-page .form-signin {
    width: 100%;
}

.bedrock-signin-page input[type="email"] {
    /* margin-bottom: -1px; */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bedrock-signin-page input[type="password"], .bedrock-signin-page .password-input-group .input-group-text {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bedrock-signin-page .password-input-group {
    user-select: none;
}

.bedrock-rail-bars, .bedrock-rail-bars:visited {
    color: #fff;
    padding-left: 15px;
}

/**
  * end of sign-in page
  */

.bedrock-popper {
    position: relative;
    display: inline-block;
}

.bedrock-popped {
    position: absolute;
    width: 240px;
    z-index: 160;
}

.popped-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2px;
}

.popped-top-left {
    bottom: 100%;
    margin-bottom: 2px;
}

.popped-top-right {
    bottom: 100%;
    right: 0;
    margin-bottom: 2px;
}

.popped-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
}

.popped-bottom-left {
    top: 100%;
    margin-top: 2px;
}

.popped-bottom-right {
    top: 100%;
    right: 0;
    margin-top: 2px;
}

.popped-left-top {
    top: 0;
    right: 100%;
    margin-right: 2px;
}

.popped-left {
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 2px;
}

.popped-left-bottom {
    bottom: 0;
    right: 100%;
    margin-right: 2px;
}

.popped-right-top {
    top: 0;
    left: 100%;
    margin-left: 2px;
}

.popped-right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2px;
}

.popped-right-bottom {
    bottom: 0;
    left: 100%;
    margin-left: 2px;
}

/**
 * Tree component
 */

.bedrock-navtree {
    list-style: none !important;
    padding-left: 0
}

.bedrock-tree-branch {
    list-style: none !important;
    padding-left: 20px;
}

.navtree-leaf-icon {
    font-size: 12px;
    cursor: pointer;
    width: 20px;
    display: inline-block;
}

.img-rounded {
    border-radius: 50%;
}