.bedrock-docs-bar span, .bedrock-docs-bar .btn, .bedrock-docs-bar .badge, .bedrock-docs-bar .progress, .bedrock-docs-bar img, .bedrock-docs-bar .spinner-grow, .bedrock-docs-bar .spinner-border, .bedrock-docs-bar .navbar, .bedrock-docs-bar .color-box {
    margin: 10px 5px;
}

.bedrock-docs-bar .btn-group .btn {
    margin-right: 0;
}

.bedrock-docs-block {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.bedrock-docs-gallery-view {
    width: 1200px !important;
    min-width: 1200px !important;
    max-width: 1200px !important;
    border: 1px solid black;
    min-height: 200px;
}

.bedrock-docs-fullpage {
    width: 800px !important;
    height: 600px !important;
    border: 1px solid black;
}
.bedrock-docs-fullpage .fixed-top {
    position: inherit !important;
}

.bedrock-docs-fullpage .navbar {
    justify-content: inherit !important;
}

.bedrock-docs-carousel-example {
    height: 400px;
    background-color: #555;
    color: white;
    padding-top: 192px;
    text-align: center;
}

/**
 * Override React Styleguidist styles
 */

 /** for the inline <code> blocks */
code.rsg--code-32 {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.1);
    border-radius: 3px;
}

/** for description field in props table */
.rsg--table-35 .rsg--para-31 {
    font-size: 14px;
    line-height: 20px;
}

/** Font size for props table heading */
thead.rsg--tableHead-36 th {
    font-size: 16px;
}

/** Increase width of main container */
main.rsg--content-3 {
    margin: 0 20px;
    max-width: inherit;
}

/** Hide the expand button */
div.rsg--toolbar-47, div.rsg--toolbar-17 {
    display: none;
}

/** fix width of prop table */
.rsg--cell-38:first-child {
    width: 15% !important;
}
.rsg--cell-38:last-child {
    width: 60% !important;
}

/** heading sizes */
