.bedrock-docs-bar span, 
.bedrock-docs-bar .btn,
.bedrock-docs-bar .badge,
.bedrock-docs-bar .progress, 
.bedrock-docs-bar img,
.bedrock-docs-bar .spinner-grow,
.bedrock-docs-bar .spinner-border,
.bedrock-docs-bar .navbar,
.bedrock-docs-bar .color-box {
    margin: 10px 5px;
}
.bedrock-docs-bar .btn-group .btn {
    margin-right: 0;
}
.bedrock-docs-block {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
